body {
  overflow: hidden;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  /* align-items: center; */
}

.header {
  padding: 10px;
  margin: 100px 0;
}

.header h2 {
  font-size: 2.5em;
  font-weight: 700;
  /* margin-top: 20px; */
  line-height: 1em;
}

.header h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1em;
}

.header h4 {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 20px;
}

.header img {
  width: 100%;
  
}

.btn {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: #663399;
  border: 2px solid #663399;
  padding: 16px 26px;
  border-radius: 50px;
  margin-top: 20px;
  transition: all .2s ease-in;
}

.btn:hover {
  color: #663399;
  border: 2px solid #663399;
  background-color: #fff;
}


@media(min-width: 768px){
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header h2 {
    font-size: 5em;
    /* margin-top: 28px; */
    line-height: 1em;
  }

  .header h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 20px;
  }

}